@import '../../styles/variables';
@import '../../styles/mixins';

.button-primary {
    @include flex-setup($align-items: center, $justify-content: center);
    padding: 1rem 2rem;
    background-color: $primary-red;
    border-radius: 0.5rem;

    @media screen and (max-width: $bp-phone-large) {
        padding: 1.25rem;
    }
}