@import './variables';
@import './mixins';

:root {
	--margin-small: 2.5rem;
	--margin-medium: 5rem;
	--margin-large: 7.5rem;
	--margin-xlarge: 10rem;

	--padding-mobile: 3rem;
	--padding-small: 5rem;
	--padding-medium: 10rem;
	--padding-large: 15rem;
	--padding-xlarge: 20rem;

	--hover-transition: 0.45s cubic-bezier(0.47, 0, 0.745, 0.715);
}

html {
	scroll-behavior: smooth;
	font-family: $font;
	font-size: 62.5%;
	font-weight: 300;

	@media screen and (max-width: $bp-tablet) {
		font-size: 50%;
	}
}

body {
	background-color: $black;
	color: $light-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior-y: none;
	overflow-y: auto;
}

.background-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}