@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;900&display=swap');
// FONTS
$font: 'Montserrat', sans-serif;
// COLORS
$primary-red: #E50914;
$primary-dark-red: #B81D24;
$black: #000;
$dark-color: #221F1F;
$light-color: #F5F5F1;
$white: #fff;
// MEDIA QUERIES
$bp-desktop: 1920px;
$bp-desktop-small: 1366px;
$bp-tablet-large: 1024px;
$bp-tablet: 768px;
$bp-phone-large: 550px;
$bp-phone-medium: 450px;
$bp-phone-small: 350px;
// UTILITY MEDIA QUERIES
$bp-desktop-utility-large: 1165px;