@import '../../../styles/variables';
@import '../../../styles/mixins';

.page-navbar {
    position: relative;
    width: 100%;
    height: 10rem;
    @include flex-setup($flex-flow: row, $align-items: flex-end);
    z-index: 100;

    &-inner {
        height: 80%;
        width: 100%;
        @include flex-setup($flex-flow: row, $align-items: center, $justify-content: space-between);
        padding: 0 var(--padding-small);

        @media screen and (max-width: $bp-phone-large) {
            padding: 0 var(--padding-mobile);
        }

        .page-navbar__logo {
            height: 100%;
            width: 20rem;
    
            @media screen and (max-width: $bp-phone-large) {
                width: 15rem;
            }

            .logo-svg {
                @include flex-setup($flex-flow: row, $align-items: center, $justify-content: center);
                width: 100%;
                height: 100%;
                fill: $primary-red;
            }
        }

        .page-navbar__actions {
            @include flex-setup($flex-flow: row, $align-items: center, $justify-content: center);

            .action-link {
                width: 100%;
                height: 100%;
                @include flex-setup($align-items: center, $justify-content: center);
            }
        }
    }
}